<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= name %>'s Portfolio</title>
  <meta name="description" content="<%= name %>'s Portfolio">
  <meta name="author" content="<%= name %>">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="main.css">

</head>

<body>
	<main class="container">
	  <section class="hero">
	    <div class="hero-image" style="background-image:url('<%= heroImage %>')"></div>
	    <div class="avatar-wrapper">
	      <div class="avatar" style="background-image:url('<%= avatarImage %>')"></div>
	    </div>
	    <div class="intro">
	      <h1 class="large-header"><%= name %></h1>
	      <h2 class="subhead text-muted"><%= website %></h2>
	      <p><%= description %></p>
	      <ul class="social-media">
	      	<% if(socialMedia.facebook) { %>
	        	<li><a href="<%= socialMedia.facebook %>"><span class="fab fa-facebook"></span></a></li>
	        <% } %>
	        <% if(socialMedia.twitter) { %>
	        	<li><a href="<%= socialMedia.twitter %>"><span class="fab fa-twitter"></span></a></li>
	        <% } %>
	        <% if(socialMedia.instagram) { %>
	        	<li><a href="<%= socialMedia.instagram %>"><span class="fab fa-instagram"></span></a></li>
	        <% } %>
	        <% if(socialMedia.linkedin) { %>
	        	<li><a href="<%= socialMedia.linkedin %>"><span class="fab fa-linkedin"></span></a></li>
	        <% } %>
	        <% if(socialMedia.email) { %>
	        	<li><a href="<%= socialMedia.email %>"><span class="fa fa-envelope"></span></a></li>
	        <% } %>
	    </ul>
	    </div>
	  </section>
	</main>
</body>
</html>